---
layout: article
---
<h2>About us</h2>
<p>This is the Karakun Developer Hub, brought to you by <a href="https://www.karakun.com" target="_blank">Karakun AG</a>.</p>

<h3>Contact details</h3>
<blockquote>
    <p>Karakun AG<br>
    Leonhardsgraben 36<br>
    CH-4051 Basel</p>
  
    <p>+41 61 551 36 00<br>
    <a href="mailto:info@karakun.com">info@karakun.com</a><br>
    <a href="https://www.karakun.com">karakun.com</a></p>
</blockquote>

<h3>Organisations and foundations</h3>
<p>We are part of several organisations to work on solid software and standards.</p>
<div class="foundations-wrapper">
  <a href="https://adoptopenjdk.net"><img class="foundations-logo" src="/assets/images/organisations/AdoptOpenJDK.png"></a>
	<p><b>AdoptOpenJDK</b> is a community of Java User Group (JUG) members, Java developers and vendors who are advocates of OpenJDK and provides rock-solid OpenJDK binaries for the Java ecosystem and also provides infrastructure as code, and a Build farm for builders of OpenJDK, on any platform. The core of OpenWebStart is developed as part of AdoptOpenJDK.</p>
</div>
<div class="foundations-wrapper">
  <a href="https://www.eclipse.org/"><img class="foundations-logo" src="/assets/images/organisations/eclipse-foundation.png"></a>
	<p>The <b>Eclipse Foundation</b> provides a global community of individuals and organizations with a mature, scalable, and business-friendly environment for open source software collaboration and innovation. The Foundation is home to over 350 open source projects, including runtimes, tools, and frameworks for a wide range of technology domains such as the Internet of Things, automotive, geospatial, systems engineering, and many others.</p>
</div>
<div class="foundations-wrapper">
  <a href="https://swissmadesoftware.org/"><img class="foundations-logo" src="/assets/images/organisations/SwissMadeSoftware.png"></a>
  <p>The <b>swiss made software</b> label is dedicated to promoting the Swiss software industry, both at home and abroad. It combines Swiss values such as quality, reliability and precision – especially in software development. </p>
  </div>
<div class="foundations-wrapper">
  <a href="http://www.swissict.ch"><img class="foundations-logo" src="/assets/images/organisations/swissICT.png"></a>
  <p>The association <b>swissICT</b> connects ICT solution provider, user and professionals in Switzerland. swissICT fosters the evolution of the market and professionals with own projects and strategic partnerships. </p>
</div>
